{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Tolujohn - tolujohn</title>
  <meta name="description" content="My name is Tolu john am a full-stack Blockchain developer. I have cool experience working on both web2 and Blockchain development, I love to meet teams and develop cool and amazing projects">
  <meta name="keywords" content="Tolu john, Tolu john, Tolu john portfolio, who is Tolu john, best website developer in nigeria, top nigeria website developer, Tolu john website">
  <meta name="author" content="Tolu john">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'assets/img/headerimg.jpg' %}">
  <link rel="apple-touch-icon" href="{% static 'assets/img/headerimg.jpg' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QFPKB9ESTL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-QFPKB9ESTL');
  </script>
</head>


<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#work">Projects</a></li>
        <li><a class="nav-link scrollto" href="#resume">Resume</a></li>
        <li><a class="nav-link scrollto" href="#services">Services</a></li>
        <li><a class="nav-link scrollto" href="#awards">Awards</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <h1>Tolu John</h1>
      <h2>...Experienced, Skillful and Certified...</h2>
      <div class="social-links">
        <a style="padding: 20px;" href="https://twitter.com/Tolujoh_n" class="twitter" target="_blank"><i
            class="bi bi-twitter"></i></a>
        <a style="padding: 20px;" href="https://web.facebook.com/OlagbileCode" class="facebook" target="_blank"><i
            class="bi bi-facebook"></i></a>
        <a style="padding: 20px;" href="https://github.com/Tolujoh-n" class="github" target="_blank"><i
            class="bi bi-github"></i></a>
        <a style="padding: 20px;" href="https://www.linkedin.com/in/tolu-john-028060241/" class="linkedin"
          target="_blank"><i class="bi bi-linkedin"></i></a>
      </div>
      <a style="font-weight: 60px;" href="#about" class="btn-scroll scrollto" title="Scroll Down"><i
          class="bx bx-chevron-down"></i></a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Me Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Me</h2>

        </div>

        <div class="row">
          <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-lg-8 d-flex flex-column align-items-stretch">
            <div class="content ps-lg-4 d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong> <span>Tolu john</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Profile:</strong> <span>Full-Stack Software
                        Developer</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                      <span>https://tolujohnport.netlify.app/</span>
                    </li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>(+234) 814-8444-929</span>
                    </li>
                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Lagos, Nigeria</span></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>19</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.sc Computer science</span>
                    </li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                      <span>tolujohnofficial@gmail.com</span>
                    </li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                  </ul>
                </div>
              </div>

              <div class="interests container">

                <div class="section-title">
                  <h5>Skills</h5>
                </div>

                <div class="skills-content ps-lg-4">
                  <div class="progress">
                    <span class="skill">Python, Javascript, SQL, Solidity, PHP<i class="val">85%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">Django, Node, Bootstrap, Jquery<i class="val">90%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">PostgreSQL, MySQL, SQLite, MongoDB<i class="val">80%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">windows, MacOs, Linux<i class="val">85%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">Beatifulsoup, Selenium<i class="val">55%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">Pythonanywhere, Netlify, Cpanel, AWS, Wordpress, Replit<i
                        class="val">70%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">HTML, CSS<i class="val">70%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">Docker, Kubernetes, Openshift<i class="val">55%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="progress">
                    <span class="skill">Critical thinking, Problem solving, Team work<i class="val">99%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>

              </div><!-- End Interests -->

            </div><!-- End .content-->



          </div>
        </div>

      </div>
    </section><!-- End About Me Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route" style="background-color: ;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="section-title text-center">
              <h2 class="title-a">
                PROJECTS
              </h2>
              <p class="subtitle-a">
                .....work done so far....
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div style="padding-left: 5px; padding-right: 5px; padding-top: 50px; background-color: rgba(0, 0, 0, 0.65);"
          class="row">
          <div class="col-md-4">
            <div class="work-box">
              <a href="https://youtu.be/3LZjswZoesE" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="/img/study-on.png" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="w-more">
                      <span class="w-ctegory">click the image for a short preview</span>
                    </div>
                    <h2 class="w-title">StudyOnline</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Sorce code</span> / <span class="w-date"><a style="color: blue;"
                          href="https://github.com/Tolujoh-n/stydyOn" target="_blank">GITHUB</a></span>
                      <br>
                      <span class="w-ctegory">Live preview</span> / <span class="w-date"><a style="color: blue;"
                          href="https://tolujohnk.pythonanywhere.com/">click here</a></span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="https://youtu.be/-nVAZwlYOUU" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="/img/volun-img.png" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="w-more">
                      <span class="w-ctegory">click the image for a short preview</span>
                    </div>
                    <h2 class="w-title">Volntr - Web/App</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Sorce code</span> / <span class="w-date"><a style="color: blue;"
                          href="https://github.com/Tolujoh-n/Volntr" target="_blank">GITHUB</a></span>
                      <br>
                      <span class="w-ctegory">Live preview</span> / <span class="w-date"><a style="color: blue;"
                          href="https://norcalspring23.botman2424.repl.co/">click here</a></span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="work-box">
              <a href="/img/mycollegeblogs.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="/img/mycollegeblogs.png" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="w-more">
                      <!--<span class="w-ctegory">click the image for a short preview</span>-->
                    </div>
                    <h2 class="w-title">Mycollegeblogs Company</h2>
                    <div class="w-more">
                      <!--<span class="w-ctegory">Sorce code</span> / <span class="w-date"><a style="color: blue;"
                          href="" target="_blank">GITHUB</a></span>-->
                      <br>
                      <span class="w-ctegory">Live preview</span> / <span class="w-date"><a style="color: blue;"
                          href="https://mycollegeblogs.com/" target="_blank">click here</a></span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="work-box">
              <a href="/img/muxhistory.png" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="/img/muxhistory.png" alt="" class="img-fluid">
                </div>
              </a>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="w-more">
                      <!--<span class="w-ctegory">click the image for a short preview</span>-->
                    </div>
                    <h2 class="w-title">MuxHISTORY Company</h2>
                    <div class="w-more">
                      <!--<span class="w-ctegory">Sorce code</span> / <span class="w-date"><a style="color: blue;"
                          href="" target="_blank">GITHUB</a></span>-->
                      <br>
                      <span class="w-ctegory">Source Code</span> / <span class="w-date"><a style="color: blue;"
                          href="https://github.com/Tolujoh-n/muxhistory.github.io/" target="_blank">GITHUB</a></span>
                      <br>
                      <span class="w-ctegory">Live preview</span> / <span class="w-date"><a style="color: blue;"
                          href="https://muxhistory.netlify.app/" target="_blank">click here</a></span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= My Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>My Resume <h4><i><a
                  href="https://docs.google.com/document/d/1pdISUpxApz1lr7GcNIRuaogtNPADG98_Fb5hORLMFRw/edit?usp=sharing"
                  target="_blank">View CV</a></i></h4>
          </h2>
          <p>...Experienced, Skillful and Certified...</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Tolu john</h4>
              <p><em>I am a full-stack software developer with over 3 years of experience developing websites and applications. I have proven expertise of a strong passion for software development. I have participated in so many coding competitions and have won some awards as well.</em></p>
              <p>
              <ul>
                <li>Lagos, Nigeria</li>
                <li>(+234) 814-8444-929</li>
                <li>tolujohnofficial@gmail.com</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>SECONDARY SCHOOL</h4>
              <h5>2013 - 2019</h5>
              <p><em>Goverment Secondary school, Nigeria</em></p>

            </div>

            <div class="resume-item">
              <h4>Bachelor of Science, Computer Science</h4>
              <h5>2020 - 2023</h5>
              <p><em>Udusok University, Sokoto, Nigeria</em></p>
              <p>A 4<i>years</i> credit course Undergraduate degree program authorized by Usman Danfodio University,
                Sokoto-state, Nigeria. </p>
            </div>

            <h3 class="resume-title">Certification</h3>
            <div class="resume-item">
              <h4>Developing Applications with SQL, Databases, and Django</h4>
              <h5>2022 - 2022</h5>
              <p><em>IBM</em></p>
              <p>An online non-credit course authorized by IBM Skills Network and
                offered through <a style="color: blue;"
                  href="https://coursera.org/share/16b3e2825da1c25e5e00ef0004f7c397" target="_blank">Coursera</a></p>
            </div>

            <div class="resume-item">
              <h4>programming in python</h4>
              <h5>2022 - 2022</h5>
              <p><em>META</em></p>
              <p>An online non-credit course authorized by META and
                offered through <a style="color: blue;"
                  href="https://coursera.org/share/ca3bcdbaf8239e11b5bb3bb509bd843d" target="_blank">Coursera</a></p>
            </div>

            <div class="resume-item">
              <h4>Introduction to Back-End Development</h4>
              <h5>2022 - 2022</h5>
              <p><em>META</em></p>
              <p>An online non-credit course authorized by META and
                offered through <a style="color: blue;"
                  href="https://coursera.org/share/b4ff097b392c09b08b9bb9a281040a45" target="_blank">Coursera</a></p>
            </div>

            <div class="resume-item">
              <h4>SQL for Data Science</h4>
              <h5>2021 - 2022</h5>
              <p><em>University of Califonia, Davis</em></p>
              <p>An online non-credit course authorized by University of Califonia, Davis and offered through <a
                  style="color: blue;" href="https://coursera.org/share/4702f866201448504e0563aa4840efbc"
                  target="_blank">Coursera</a>
              </p>
            </div>

            <div class="resume-item">
              <h4>Server-side Development with NodeJS, Express and MongoDB</h4>
              <h5>2021 - 2022</h5>
              <p><em>The Hong Kong University of Science and Technology</em></p>
              <p>An online non-credit course authorized by The Hong Kong University of Science and Technology and
                offered through <a style="color: blue;"
                  href="https://coursera.org/share/b1a2fe5a760e803c12df67eba6b71a0b" target="_blank">Coursera</a></p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Full-stack developer</h4>
              <h5>2022 - Present</h5>
              <p><em>CDT Technologies</em></p>
              <p>
              <ul>
                <li>Development, implementation, and maintenance of the Server side
                  technology</li>
                <li>Working with the Technical and Development team to resolve identified
                  issues</li>
                <li>Development of the user interface and ensuring responsiveness</li>
                <li>Developing project concepts and maintaining optimal workflow.</li>
              </ul>
              </p>
            </div>

            <div class="resume-item">
              <h4>Board of Directors</h4>
              <h5>2023 - Present</h5>
              <p><em>Planet Unity</em></p>
              <p>
              <ul>
                <li>Organization of the group and risk management
                </li>
                <li>Group budget and business plan and overseeing their implementation.</li>
              </ul>
              </p>
            </div>

            <div class="resume-item">
              <h4>Back-End developer</h4>
              <h5>2022 - 2023</h5>
              <p><em>Nepado Blockchain</em></p>
              <p>
              <ul>
                <li>Optimizing and securing blockchain application by integrating new tools and technology
                </li>
                <li>Building Client and Server-side Application.</li>
              </ul>
              </p>
            </div>

            <div class="resume-item">
              <h4>Back-End software Instructor</h4>
              <h5>2021 - 2022</h5>
              <p><em>Omu-Aran Tech</em></p>
              <p>
              <ul>
                <li>Lecturing Students on How the web works</li>
                <li>Introducing Students to Backend website development</li>
                <li>Lecturing Students on Backend tools and Technology</li>
                <li>Spliting of task and supervision of server-side Projects</li>
              </ul>
              </p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End My Resume Section -->

    <!-- ======= My Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>My Services</h2>
          <p>...Experienced, Skillful and Certified...</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">WEB/APP Development</a></h4>
              <p class="description">I develops World Wide Web application using a client-server model. I create and
                maintain websites and
                give your site high performance and capacity.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-binoculars"></i></div>
              <h4 class="title"><a href="">WEB/APP Management</a></h4>
              <p class="description">I help organizations to manage their websites and ensure high website performance,
                facilitate hosting
                and server Management, maintain and update their website content.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-book"></i></div>
              <h4 class="title"><a href="">WEB/APP Education</a></h4>
              <p class="description">I lecture student and growing developer how to become a competent Back-End Software
                developer.
                helping them in acheiving their goals as a website developer.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">AI Development</a></h4>
              <p class="description">I build cool and amazing artificial inteligence as regarding the task of which it
                offers.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End My Services Section -->

    <!-- =======Certification section (Portfolio Section) ======= -->
    <section id="awards" class="portfolio-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="section-title">
              <h2>Certificate and awards</h2>
              <p>...Experienced, Skillful and Certified...</p>
            </div>

          </div>
        </div>
        <!-- begining of hacksthon image {% static '' %} -->
        <div class="row">
          <div class="col-md-4">
            <div class="">
              <a href="https://devpost.com/Tolujoh-n/achievements" target="_blank">
                <div class="work-img">
                  <img src="{% static 'hackaton-img/winner.png' %}" alt="" class="img-fluid"><span
                    style="font-size: larger;">Hackathon Winner Level 1</span>
                </div>
              </a>

            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <a href="https://devpost.com/Tolujoh-n/achievements" target="_blank">
                <div class="work-img">
                  <img src="{% static 'hackaton-img/dual-boot-win.png' %}" alt="" class="img-fluid"><span
                    style="font-size: larger;">Dual Boot</span>
                </div>
              </a>


            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <a href="https://devpost.com/Tolujoh-n/achievements" target="_blank">
                <div class="work-img">
                  <img src="{% static 'hackaton-img/generalist.png' %}" alt="" class="img-fluid"><span
                    style="font-size: larger;">Generalist</span>
                </div>
              </a>

            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <a href="https://devpost.com/Tolujoh-n/achievements" target="_blank">
                <div class="work-img">
                  <img src="{% static 'hackaton-img/x Hackathon.png' %}" alt="" class="img-fluid"><span style="font-size: larger;">X
                    Hackathons Level 6</span>
                </div>
              </a>

            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <a href="https://devpost.com/Tolujoh-n/achievements" target="_blank">
                <div class="work-img">
                  <img src="{% static 'hackaton-img/first-in-person-hacks.png' %}" alt="" class="img-fluid"><span
                    style="font-size: larger;">First in-person hackathon</span>
                </div>
              </a>

            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <a href="https://devpost.com/Tolujoh-n/achievements" target="_blank">
                <div class="work-img">
                  <img src="{% static 'hackaton-img/first-online-hack.png' %}" alt="" class="img-fluid"><span
                    style="font-size: larger;">First online hackathon</span>
                </div>
              </a>

            </div>
          </div>
          <div class="col-md-4">
            <div class="">
              <a href="https://devpost.com/Tolujoh-n/achievements" target="_blank">
                <div class="work-img">
                  <img src="{% static 'hackaton-img/influencer.png' %}" alt="" class="img-fluid"><span
                    style="font-size: larger;">Influencer</span>
                </div>
              </a>


            </div>
          </div>


        </div>
        <!-- End of hackaton image -->

        <!-- Beginig of certificate view -->
        <div class="row">
          
          <div class="col-md-4">
            <div class="">
              <a href="{% static '/hackaton-img/buffalo.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox">
                <div class="work-img">
                  <img src="{% static '/hackaton-img/buffalo.png' %}" alt="certificate" class="img-fluid">
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End certification section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="img/paul.jpg" class="testimonial-img" alt="">
                <h3>Paul Brown</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I have been thoroughly delighted with the experience - Tolujohn is a very talented Developer, but also
                  a lot more than that - his ability to grasp things with a fresh pair of eyes is great
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="img/mary.jpg" class="testimonial-img" alt="">
                <h3>Mary Vence</h3>
                <h4>Back-End Dev</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  It has been a real pleasure working with Tolujohn. He has been very professional and very clear in all
                  communications, which I appreciate.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="img/tomi.jpg" class="testimonial-img" alt="">
                <h3>Tomi Grace</h3>
                <h4>Back-End Dev</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  His communication was excellent from the outset and showed a willingness to persevere until the
                  perfect development was achieved. Obviously passionate about work.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="img/bukumi.jpg" class="testimonial-img" alt="">
                <h3>Bukumi Timothy</h3>
                <h4>Front-End Dev</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Tolujohn has done a fantastic job overall. Not only the site is to design, the code is very clean and
                  slick.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="img/adebayo.jpg" class="testimonial-img" alt="">
                <h3>Adebayo Faith</h3>
                <h4>Front-End Dev</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Working with Tolujohn was better than expected and we had really high expectations. He is an
                  incredibly
                  talented developer but what really makes him stand out is his work ethic and steady approach is that
                  Tolujohn his a very fast learner and can adapt to any work situations
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Contact Me Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact Me</h2>
          <p>...Experienced, Skillful and Certified...</p>
        </div>

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-share-alt"></i>
                  <h3>Social Profiles</h3>
                  <div class="social-links">
                    <a href="https://twitter.com/Tolujoh_n" class="twitter" target="_blank"><i
                        class="bi bi-twitter"></i></a>
                    <a href="https://web.facebook.com/OlagbileCode" class="facebook" target="_blank"><i
                        class="bi bi-facebook"></i></a>
                    <a href="https://github.com/Tolujoh-n" class="google-plus" target="_blank"><i
                        class="bi bi-github"></i></a>
                    <a href="https://www.linkedin.com/in/tolu-john-028060241/" class="linkedin" target="_blank"><i
                        class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Me</h3>
                  <p>tolujohnofficial@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Me</h3>
                  <p>(+234) 814-8444-929</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="https://formsubmit.co/tolujohnofficial@gmail.com" method="POST" />

            <!-- honeypot-->
            <input type="text" name="_honey" style="display:none">

            <!-- disable capthcha-->
            <input type="hidden" name="_captcha" value="false">

            <!-- success page-->
            <input type="hidden" name="_next" value="https://tolujohnport.netlify.app/message.html">

            <div class="row">
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <input type="text" name="Full&nbsp;Name" class="form-control" id="name" placeholder="Full Name"
                    required>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <input type="email" class="form-control" name="Email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <input type="tel" class="form-control" name="Phone&nbsp;Nunber" id="phone" placeholder="Phone No"
                    required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control" name="Message" rows="5" placeholder="Message" required></textarea>
                </div>
              </div>
              </br>
              <div class="col-md-12 text-center">
                </br>
                <button id="submitbut" onclick="myfunction()" type="submit"
                  class="button button-a button-big button-rouded">Send
                  Message</button>
              </div>
            </div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Me Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Tolu john</h3>
      <p>...Experienced, Skillful and Certified...</p>
      <div class="social-links">
        <a href="https://twitter.com/Tolujoh_n" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
        <a href="https://web.facebook.com/OlagbileCode" class="facebook" target="_blank"><i
            class="bx bxl-facebook"></i></a>
        <a href="https://github.com/Tolujoh-n" class="google-plus" target="_blank"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/tolu-john-028060241/" class="linkedin" target="_blank"><i
            class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Tolujohn</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/ -->
        Developed by <a href="/index.html">Tolujohn</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>
