{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Tolujohn - tolujohn</title>
  <meta name="description" content="My name is Tolu john am a full-stack Blockchain developer. I have cool experience working on both web2 and Blockchain development, I love to meet teams and develop cool and amazing projects">
  <meta name="keywords" content="Tolu john, Tolu john, Tolu john portfolio, who is Tolu john, best website developer in nigeria, top nigeria website developer, Tolu john website">
  <meta name="author" content="Tolu john">

  <!-- Favicons -->
  <link rel="icon" href="{% static 'assets/img/headerimg.jpg' %}">
  <link rel="apple-touch-icon" href="{% static 'assets/img/headerimg.jpg' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QFPKB9ESTL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-QFPKB9ESTL');
  </script>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex justify-content-center align-items-center ">

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
  
        <div class="d-flex justify-content-between align-items-center">
          <!--<h2>Inner Page</h2>-->
          <ol>
            <li><a href="/">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>
  
      </div>
    </section><!-- End Breadcrumbs -->
  
    <!-- ======= About Section ======= -->
    <section style="padding-bottom: 120px; background-color: rgb(241, 195, 195);" id="inner-page" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-6">
                    <div class="about-me pt-4 pt-md-0">
                      <div class="title-box-2">
                        <h5 class="title-left">
                          Message Sent
                        </h5>
                      </div>
                      <h1><strong><i>Thank you..!</i></strong></h1>
                    </div>
                  </div>
                  <div class="col-md-12 text-center">
                    </br>
                    
                    <button style="color: rgb(255, 255, 255);" id="messagebut" class="button button-a button-big button-rouded"><a
                        href="/">BACK TO HOME PAGE</a></button>
                  </div>
  
                </div>
              </div>
            </div>
          </div>
        </div>
    </section><!-- End About Section -->
  
    
  
  </main><!-- End #main -->
  
  
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>Tolu john</h3>
        <p>...Experienced, Skillful and Certified...</p>
        <div class="social-links">
          <a href="https://twitter.com/Tolujoh_n" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
          <a href="https://web.facebook.com/OlagbileCode" class="facebook" target="_blank"><i
              class="bx bxl-facebook"></i></a>
          <a href="https://github.com/Tolujoh-n" class="google-plus" target="_blank"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/tolu-john-028060241/" class="linkedin" target="_blank"><i
              class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>Tolujohn</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/laura-free-creative-bootstrap-theme/ -->
          Developed by <a href="/">Tolujohn</a>
        </div>
      </div>
    </footer><!-- End Footer -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  
   <!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>
  
  </body>
  
  </html>